exclude *.pyc *~ *.so .DS_Store
include .bumpversion.cfg
include .editorconfig
include .gitattributes
include .gitignore
include CHANGES.txt
include LICENSE.txt
include README.rst
include setup.py
recursive-include swatch *.py
recursive-include tests *.json *.ase *.py
